<header>
    <nav class="navbar navbar-expand-md navbar-light bg-success fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="#">
          <span class="display-6 text-white" style="font-size: 24px; font-weight: 600;">UNICOM TIC</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0"></ul>
          <form class="d-flex">
            <input class="form-control me-2 border-0 shadow-sm" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  
  <main class="pt-4 pb-4 bg-light d-flex" style="height: 100vh;">
    <div class="d-flex flex-column flex-shrink-0 p-4 text-dark bg-dark" style="width: 270px;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <i class="bi bi-list-task" style="font-size: 1.5rem; padding-right: 8px;"></i>
        <span class="fs-5 fw-bold">Task Management</span>
      </a>
      <hr class="border-light">
  
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a routerLink="#" class="nav-link text-white" routerLinkActive="active" aria-current="page">
            <i class="bi bi-house-door-fill me-2"></i> Home
          </a>
        </li>
        <li>
          <a routerLink="/tasks" class="nav-link text-white" routerLinkActive="active">
            <i class="bi bi-clipboard-data me-2"></i> Tasks
          </a>
        </li>
        <li>
          <a routerLink="/users" class="nav-link text-white" routerLinkActive="active">
            <i class="bi bi-people-fill me-2"></i> Users
          </a>
        </li>
        <li>
          <a routerLink="/SignIn" class="nav-link text-white" routerLinkActive="active">
            <i class="bi bi-box-arrow-in-right me-2"></i> Login
          </a>
        </li>
        <li>
          <a routerLink="/SignUp" class="nav-link text-white" routerLinkActive="active">
            <i class="bi bi-person-plus-fill me-2"></i> Register
          </a>
        </li>
      </ul>
      <hr class="border-light">
    </div>
  
    <div class="flex-grow-1 shadow-sm p-4 m-4 bg-white rounded" style="overflow-y: auto; border: 1px solid #ddd;">
      <router-outlet></router-outlet>
    </div>
  </main>
  