<div class="container">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
  
        <div class="d-flex justify-content-between mb-3">
          <div class="p-2">
            <input type="text" class="form-control" placeholder="Search User....">
          </div>
          <div class="ml-auto p-2">
            <button type="button" class="btn btn-primary btn-lg px-4" routerLink="['user-add']">New User</button>
          </div>
        </div>
  
        <table class="table table-hover table-striped align-middle table-bordered">
          <thead class="table-light">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Password</th>
              <th scope="col">Phone</th>
    
  
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <th scope="row">{{user.id}}</th>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.password}}</td>
              <td>{{user.phone}}</td>
          
              <td>
                <button class="btn btn-primary btn-sm me-2" (click)="onEdit(user.id)">
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button class="btn btn-danger btn-sm" (click)="onDelete(user.id)">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>